.conten{
	width: 85%;
	height: 1000px;
	margin: 0 auto;
	font-family: arial;
}
.layout1{
	width: 100%;
	height: 80px;
	background: #333333;
	line-height: 80px;
	display: flex;

}
#chu1{
	font-size: 30px;
	font-weight: 600;
	color: white;
	margin-left: 15px;
}
#chu2{
	font-size: 50px;
	font-weight: 550;
	color: #fb7f27;
}
.layout2{
	background: #666666;
	width: 100%;
	height: 40px;
	display: flex;
	line-height: 40px;
}
.layout2-1{
	width: 80px;
	height: 100%;
	border-right: 1px solid #333333;
	text-align: center;
	color: white;
}
.layout3{
	width: 100%;
	height: 680px;
	display: flex;
}
.layout3-1{
	width: 65%;
	height: 100%;
}
.layout3-2{
	width: 35%;
	height: 100%;
	background: #e5e5e5;
}
.layout3-3{
	width: 95%;
	height: 150px;
	margin: 10px;
	display: flex;
}
.layout3-a{
	width: 25%;
	height: 90%;
	background: #dddddd;
	margin: 10px;
}
.layout3-b{
	width: 75%;
	height: 90%;
	margin: 10px;
}
.layout4{
	width: 100%;
	height: 40px;
	background: #333333;
	line-height: 40px;
	text-align: center;
	color: white;
	font-size: 14px;
}
.layout3-title{
	font-size: 17px;
	margin-top: 25px; 
	margin-bottom: 20px;
}
.layout3-chu{
	color: #fb7f27;
	margin-left: 10px;
	line-height: 30px;
	font-size: 15px;
}